* {
  font-family: "Inter", "Noto Sans", sans-serif;
  font-size: 12px;
}

#clock, #battery, #pulseaudio, tray {
  padding: 0 8px;
}

#clock {
  color: #ffffff;
}

#pulseaudio {
  color: #a1cfff;
}

#battery {
  color: #ffcc66;
}
